<style>

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

input {
  margin: auto;
  width: 40%;
	color: black;
	background-color: white;  
  	margin-top: 8px;
  	margin-bottom: 8px;
  	margin-right: 16px;
  	margin-left: 0px;
    padding: 6px 12px;
  }
  
h4 {
color: rgb(79, 20, 20); 
font-size: 35px; 
font-family: "Roboto", sans-serif;
/* text-align: center;*/

}

button:enabled{
 /* color: rgb(216, 170, 54); */
  color: white;
  background-color: rgb(79, 20, 20);
  border: none;
  font-size: 16px;
  margin: 4px 2px;
  padding: 14px 20px;
}


button:disabled{
 /* color: rgb(216, 170, 54); */
  color: white;
  background-color: rgb(79, 20, 20);  
  opacity: 0.5;
  border: none;
  font-size: 16px;
  margin: 4px 2px;
  padding: 14px 20px;
}


</style>
